.title {
    margin-top: 24px;
    text-align: center;
}

.subTitle {
    margin: 0;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
}

.buttonLayout {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

