.button {
  width: 165px;
  height: 60px;
  vertical-align: middle;
  text-align: center;

  color: white;
  font-size: 24px;
  font-weight: normal;

  background-color: rgba(69, 69, 69, 0.7);
  border-radius: 15px;
  border: none;

  cursor: pointer;
  text-decoration: none;

  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
}

.button:hover {
  background-color: rgba(69, 69, 69, 1);
}