.button {
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 24px;
  font-weight: normal;

  border-radius: 15px;
  border: 1px solid white;

  cursor: pointer;
}

.button:hover {
  background-color: rgba(69, 69, 69, 1);
  border: 1px solid rgba(69, 69, 69, 1);
}
